@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TIMG</h1>
    <p class="lead">We are the leaders in document storage</p>
    <p><a href="https://www.timg.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How to view orders</h2>
        <p>
            Please hit the Orders menu to view all the available orders in the system
        </p>
    </div>
</div>